.outSide
{
    text-align: center;
    border-radius: 10px;
    padding: 60px 60px ;
    border: dotted 7px blue;
}

.middle
{
    text-align: center;
    border-radius: 10px;
    padding: 60px  60px ;
    border: dashed 5px red;

}

.inside
{
    text-align: center;
    border-radius: 10px;
    padding:60px  60px ;
    border: solid 5px green;
    font-size: 70px;


}